---
---
.text-center {
  text-align: center;
}

#infoHead {
  ul {
    columns: 2;
    list-style-type: none;
  }
}

#postInfo {
  padding-top: 1.75em;
  div {
    padding-left: 1.75em;
  }
}

#content {
  min-height: calc(100% - 140px);
}

header {
  margin-bottom: 1em;
}

#contactCards {
  p {
    text-align: center;
  }
}

.full-width {
  width: 100%;
}