---
---
.post {
    margin-right: 1.1rem;
    margin-left: 1.1rem;
}
.date {
    font-size: 1.1rem;
    margin-right: 1rem;
}
.postLi {
    list-style-type: none;
}
.block {
    // width: 300px !important;
    height: 250px !important;
}