<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} | Michael K Edlinger (mkeedlinger)</title>
  {% include head.html %}
  {% for code in page.more_includes %}
    {{ code }}
  {% endfor %}
</head>
<body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">mkeedlinger</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </section>
  </nav>
  {{ content }}
</body>
</html>