<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} | Michael K Edlinger (mkeedlinger)</title>
  {% include head.html %}
  {% for code in page.more_includes %}
    {{ code }}
  {% endfor %}
</head>
<body>
  <nav class="navbar-default navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">mkeedlinger</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {{ content }}
</body>
</html>